
{% extends 'indexadmin.html' %}
{% block body %}
{%endblock%}
<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <!--<table width="200" border="1">-->
      <!--<tr>-->
        <!--<td><div align="center">ADMINHOME</div></td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td><div align="center"><a href="MANAGECOMPANY">ADD OR MANAGE COMPANY</a></div></td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td><div align="center"><a href="mngek">  KUDUMBASREE</a></div></td>-->
      <!--</tr>-->
       <!--&lt;!&ndash;<tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<td><div align="center"><a href="mngek"> MANAGE KUDUMBASREE</a></div></td>&ndash;&gt;-->
      <!--&lt;!&ndash;</tr>&ndash;&gt;-->
         <!--&lt;!&ndash;<tr>&ndash;&gt;-->
        <!--<td><div align="center"><a href="VIEWCOMPLAINTS">view complaints &SEND REPLY</a></div></td>-->
      <!--</tr>-->


         <!--<tr>-->
        <!--<td><div align="center"><a href="addnotification">	ADD KRISHIBHAVAN NOTIFICATION</a></div></td>-->
      <!--</tr>-->


         <!--<tr>-->
        <!--<td><div align="center"><a href="training_video">		ADD OR MANAGE TRAINING</a></div></td>-->
      <!--</tr>-->


         <!--<tr>-->
        <!--<td><div align="center"><a href="feedback">	VIEW FEEDBACK FROM USER</a></div></td>-->
      <!--</tr>-->


         <!--<tr>-->
        <!--<td><div align="center"><a href="AWARNESS">	ADD AWARNESS PROGRAMME AND VIDEOS</a></div></td>-->
      <!--</tr>-->
      <!--</table>-->
  </div>
</form>
</body>
</html>
