
{% extends 'indexadmin.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="addcompany">
  <div align="center">
    <table width="200" border="0" class="table">
      <tr>
        <td colspan="2"><div align="center">COMPANY REGISTRATION </div></td>
      </tr>
      <tr>
        <td>COMPANY NAME </td>
        <td><label>
          <input type="text" name="textfield" required pattern="[A-Z a-z.]{3,25}" />
        </label></td>
      </tr>
      <tr>
        <td>PLACE</td>
        <td><label>
          <input type="text" name="textfield2" required pattern="[A-Z a-z.]{3,25}" />
        </label></td>
      </tr>
      <tr>
        <td>POST</td>
        <td><label>
          <input type="text" name="textfield3" required pattern="[A-Z a-z.]{3,25}" />
        </label></td>
      </tr>
             <tr> <td>PIN</td>
        <td><label>
          <input type="number" name="textfield4" required pattern="[0-9]{6}" />
        </label></td>
      </tr>
      <tr>
        <td>EMAIL</td>
        <td><label>
          <input type="text" name="textfield5" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}" />
        </label></td>
      </tr>
      <tr>
        <td>PHONE</td>
        <td><label>
          <input type="text" name="textfield6" required pattern="[6789][0-9]{9}" />
        </label></td>
      </tr>
      <tr>
        <td>USERNAME</td>
        <td><label>
          <input type="text" name="textfield7" required />
        </label></td>
      </tr>
      <tr>
        <td>PASSWORD</td>
        <td><label>
          <input type="PASSWORD" name="textfield8"  required/>
        </label></td>
      </tr>
      <tr>
        <td colspan="2"><label>
          <div align="center">
            <input type="submit" name="Submit" value="Submit" />
            </div>
        </label></td>
      </tr>
      </table>
  </div>
</form>
</body>

{%endblock%}